.homepage {
    background-color: var(--qu-color-background);
    color: var(--qu-color-foreground);
    height: 100dvh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.homepage-header {
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    width: 100vw;
    background-color: var(--qu-color-background);
    flex-shrink: 0;
    position: relative;
}

.homepage-header-title {
    font-size: 20px;
}

.homepage-mainarea {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.directory-mainarea {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--qu-color-background-body);
    border-top: 1px solid var(--qu-color-border);
}

.homepage-mainarea-title {
    font-size: 30px;
}

.homepage-mainarea-button-row {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.homepage-mainarea-clock {
    font-size: 14px;
    color: var(--qu-color-foreground-secondary);
}

.homepage-header-title-secondary {
    font-size: 20px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.homepage-header-title-secondary-logo {
    width: fit-content;
    height: 35px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.homepage-actionarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.homepage-scheduledmeeting-title {
    font-size: 20px;
}

.homepage-scheduledmeeting-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: var(--qu-color-foreground-secondary);
    font-size: 14px;
}

.homepage-scheduledmeeting {
    width: 100%;
}

.homepage-scheduledmeetingarea-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.homepage-scheduledmeeting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    background-color: var(--qu-color-background-body);
    padding: 10px 12px;
    border-radius: 8px;
    width: 300px;
    border: 1px solid var(--qu-color-border);
}

.directory-sidebar {
    width: 350px;
    border-right: 1px solid var(--qu-color-border);
    height: 100%;
}

.directory-sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid var(--qu-color-border);
}

.directory-sidebar-header-title {
    font-size: 20px;
}

.directory-sidebar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--qu-color-border);
    display: flex;
}

.directory-sidebar-item:hover {
    background-color: rgba(0, 0, 0, 0.034);
}

.directory-sidebar-item-title {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.directory-sidebar-item-subtitle {
    font-size: 14px;
    color: var(--qu-color-foreground-secondary);
}

.directory-mainarea-content {
    flex-grow: 1;
}

.directory-mainarea-placeholder-title {
    font-size: 20px;
}

.directory-mainarea-placeholder-subtitle {
    font-size: 14px;
    color: var(--qu-color-foreground-secondary);
}

.directory-page-infobox {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid var(--qu-color-border);
    display: flex;
    border-radius: 10px;
    margin-bottom: 0px;
}

.directory-page-infobox-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px;
    padding: 10px;
    border: 1px solid var(--qu-color-border);
    display: flex;
    border-radius: 10px;
    margin-bottom: 0px;
}

.directory-page-infobox-title {
    font-size: 20px;
}

.directory-page-infobox-subtitle {
    font-size: 14px;
    color: var(--qu-color-foreground-secondary);
    margin-bottom: 5px;
}

.theme-spooky-pumpkin {
    display: none;
}

body[data-theme="spooky"] > .homepage > .theme-spooky-pumpkin {
    display: block;
    position: fixed;
    z-index: 1000;
    -webkit-user-drag: none;
    pointer-events: none;
}

.theme-spooky-pumpkin-1 {
    bottom: -250;
    left: -100;
    width: auto;
    height: 600;
    transform: rotate(0deg);
}

.theme-spooky-pumpkin-2 {
    bottom: -200;
    left: -300;
    width: auto;
    height: 600;
    transform: rotate(20deg);
}

.theme-spooky-pumpkin-3 {
    bottom: -200;
    right: -300;
    width: auto;
    height: 600;
    transform: rotate(-20deg);
}

.theme-spooky-pumpkin-4 {
    bottom: -250;
    right: -100;
    width: auto;
    height: 600;
    transform: rotate(10deg);
}